@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "داشبورد کاربر";
}

<div class="text-center">
    <h1>به داشبورد کاربری خوش آمدید</h1>
    <p>از منوی بالا برای دسترسی به بخش‌های مختلف استفاده کنید.</p>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary btn-block" asp-controller="Dashboard" asp-action="SupportChat">
                چت با پشتیبانی
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info btn-block" asp-controller="Dashboard" asp-action="RequestForm">
                درخواست‌نامه
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-block" asp-controller="Dashboard" asp-action="RequestTracking">
                پیگیری درخواست‌ها
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-success btn-block" asp-controller="Dashboard" asp-action="CreateFile">
                تشکیل پرونده
            </a>
        </div>
        <div class="col-md-3 mt-2">
            <a class="btn btn-secondary btn-block" asp-controller="Dashboard" asp-action="FileList">
                لیست پرونده‌ها
            </a>
        </div>
    </div>
</div>
