@using Stimulsoft.Report.Mvc

@{
    ViewData["Title"] = "ShowPrint";
}

<h1>ShowPrint</h1>


@Html.StiNetCoreViewer(new StiNetCoreViewerOptions()
{
	Actions =
	{
		GetReport = "Print",
		ViewerEvent = "ViewEvent"
	}
})
<a href="@Url.Action("Print", "User")">Test Print Action</a>

    
@section Scripts {
    <script src="https://cdn.stimulsoft.com/js/stimulsoft.viewer.js"></script>
    <link href="https://cdn.stimulsoft.com/css/stimulsoft.viewer.css" rel="stylesheet" />
}
